.button {
    -fx-background-radius: 100;
}
.sharpButton {
    -fx-background-radius: 0;
}
.primaryColor {
    -fx-background-color:  #1976d2;
    -fx-text-fill: #ffffff;
}
.primaryColorLight {
    -fx-background-color: #63A4FF;
    -fx-text-fill: #000000;
}
.primaryColorDark {
    -fx-background-color: #004BA0;
    -fx-text-fill: #ffffff;
}
.backgroundColor {
    -fx-background-color: #F5F5F6;
}
.backgroundColorLight {
    -fx-background-color: #FFFFFF;
}
.backgroundColorDark {
    -fx-background-color: #E1E2E1;
}
.transparent {
    -fx-background-color: transparent;
}
.spinnerPrimaryColor .arc {
    -fx-stroke: #1976d2;
}
.jfxPrimaryColor {
    -jfx-default-color: #1976d2;
}